.card {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin: 80px;

    .address {
        width: 60%;
        margin-right: 40px;
        .note{
            margin-top: 1rem;
            .p-inputtext{
                width: 100%;
            }
        }

        .address-view{
            border: 1px solid var(--grey-dropdown-color);
            border-radius: 10px;
            padding: 10px 20px;
            margin:1rem 0 ;
        }
       
        .payment {
            .payment-method {
                .payment-icon {
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    border-radius: 10px;
                    border: 1px solid #e5e7eb;
                    cursor: pointer;
                    margin-bottom: 20px;
                    padding: 10px 20px;

                    input {
                        width: 20px;
                        height: 20px;
                    }

                    img {
                        margin: 0 10px;
                        width: 40px;
                        height: 40px;
                    }
                }


            }
        }
    }

    .cart {
        width: 50%;

        .title {
            display: flex;
            justify-content: space-between;
            align-items: center;

            p {
                font-size: 12px;
            }

            .product {
                display: flex;
                justify-content: space-between;
                align-items: center;

                p:first-child {
                    padding-right: 20px;
                    border-right: 2px solid grey;
                }

                p:last-child {
                    padding-left: 20px;

                }
            }
        }

        .cart-list {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .select-product{
               margin-right: 5px;
                input{
                    width: 20px;
                    height: 20px;
                }
            }
            
            .image {
                img {
                    width: 120px;
                    height: 160px;
                    border-radius: 10px;
                    object-fit: cover;
                }

            }

            .content {
                max-width: 150px;
                // margin-right: 10%;
                text-align: start;
                margin-left: 10px;
                i {
                    cursor: pointer;
                    color: red;
                }

            }

            .quantity {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 18px;
                font-weight: bold;
                border-radius: 99px;
                border: 1px solid grey;
                margin-left: 5%;
                margin-right: 5%;

                button {
                    background: none;
                    border: none;
                    padding: 5px 10px;
                    cursor: pointer;
                    font-size: 18px;
                    
                }

                input {
                    width: 50px;
                    text-align: end;
                    font-size: 16px;
                    padding: 5px;
                    border: none;

                    input:focus {
                        outline: none;
                        border: none;
                    }
                }


            }

            .price {
                text-align: end;
                width: 80px;
                .sell-price {
                    text-decoration: line-through;
                    color: #999; // Optional: You can change the color to gray for strikethrough text
                }
                .total-price{
                    border-top: 1px solid grey;
                    padding-top: 5px;
                    color: red;
                    font-weight: bold;
                }
            }
        }

    }

}

.order {
    background-color: #f8f8f8;
    padding: 20px;
    border-top: 1px solid #ddd;
    text-align: center;
    position: sticky;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;

    .payment-content {
        align-items: start;
        text-align: end;

        p:first-child {
            margin: 5px;
        }

        p:last-child {
            margin: 0;
            font-size: 1.5rem;
            color: var(--blue-color);
            font-weight: bold;
        }
    }

    button {
        background-color: #000;
        color: white;
        padding: 20px 40px;
        border: none;
        border-radius: 99px;
        cursor: pointer;
        margin-left: 20px;
    }

    button:hover {
        background-color: var(--blue-color);
    }
}