<div class="list">
  <div class="new-product">
    <h3 class="mr-2">Sản phẩm mới</h3>
    <i class="pi pi-star-fill" style="font-size: 1rem"></i>
  </div>
  <p-carousel
    [value]="products"
    [numVisible]="5"
    [numScroll]="5"
    [circular]="true"
    [responsiveOptions]="responsiveOptions"
    autoplayInterval="0"
    [showIndicators]="false"
  >
    <ng-template let-product pTemplate="item">
      <div class="product-item" (click)="navigateToProductDetail(product.id)">
        <img
          *ngIf="
            product.product_images && product.product_images[0]?.imageUrl;
            else noImage
          "
          [src]="
            'http://localhost:8080/uploads/' +
            product.product_images[0]?.imageUrl
          "
          alt="Ảnh sản phẩm"
          width="50px"
        />
        <ng-template #noImage>
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/a/a3/Image-not-found.png"
            alt=""
          />
        </ng-template>

        <div class="product-content">
          <div class="product-name mb-2">
            {{ product.name }}
          </div>
          <div class="price">
            <div class="font-semibold">
              {{
                formatPrice(
                  product.product_details[0]?.prices[0]?.promotionPrice ?? 900
                )
              }}
            </div>
            <div class="ml-5 sell-price">
              {{
                formatPrice(
                  product.product_details[0]?.prices[0]?.sellingPrice ?? 1000
                )
              }}
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </p-carousel>
</div>

<div>
  <div class="product-banner">
    <img
      src="https://media3.coolmate.me/cdn-cgi/image/quality=80,format=auto/uploads/November2024/mceclip0_27.jpg"
      alt=""
    />
    <div class="content">
      <h1>ÁO NAM</h1>

      <button class="button">
        <p>Khám phá ngay</p>
        <i class="pi pi-arrow-right" style="font-size: 1rem"></i>
      </button>
    </div>
  </div>

  <div class="list-shirt">
    <div>
      <h2 class="">SẢN PHẨM ÁO NAM</h2>
    </div>
    <p-carousel
      [value]="productShirts"
      [numVisible]="5"
      [numScroll]="5"
      [circular]="true"
      [responsiveOptions]="responsiveOptions"
      autoplayInterval="0"
      [showIndicators]="false"
    >
      <ng-template let-product pTemplate="item">
        <div class="product-item" (click)="navigateToProductDetail(product.id)">
          <img
            *ngIf="
              product.product_images && product.product_images[0]?.imageUrl;
              else noImage
            "
            [src]="
              'http://localhost:8080/uploads/' +
              product.product_images[0]?.imageUrl
            "
            alt="Ảnh sản phẩm"
            width="50px"
          />
          <ng-template #noImage>
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/a/a3/Image-not-found.png"
              alt=""
            />
          </ng-template>

          <div class="product-content">
            <div class="mb-2">
              {{ product.name }}
            </div>
            <div class="flex align-items-center">
              <div class="price">
                <div class="font-semibold">
                  {{
                    formatPrice(
                      product.product_details[0]?.prices[0]?.sellingPrice ??
                        1000
                    )
                  }}
                </div>
                <div class="ml-5 sell-price">
                  {{
                    formatPrice(
                      product.product_details[0]?.prices[0]?.promotionPrice ??
                        900
                    )
                  }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </div>
</div>
<!--  quần -->
<div>
  <div class="product-banner">
    <img
      src="https://media3.coolmate.me/cdn-cgi/image/quality=80,format=auto/uploads/December2024/mceclip1_20.jpg"
      alt=""
    />
    <div class="content">
      <h1 style="color: black">QUẦN NAM</h1>

      <button class="button">
        <p>Khám phá ngay</p>
        <i class="pi pi-arrow-right" style="font-size: 1rem"></i>
      </button>
    </div>
  </div>

  <div class="list-shirt">
    <div>
      <h2 class="">SẢN PHẨM QUẦN NAM</h2>
    </div>
    <p-carousel
      [value]="productPants"
      [numVisible]="5"
      [numScroll]="5"
      [circular]="true"
      [responsiveOptions]="responsiveOptions"
      autoplayInterval="0"
      [showIndicators]="false"
    >
      <ng-template let-product pTemplate="item">
        <div class="product-item" (click)="navigateToProductDetail(product.id)">
          <img
            *ngIf="
              product.product_images && product.product_images[0]?.imageUrl;
              else noImage
            "
            [src]="
              'http://localhost:8080/uploads/' +
              product.product_images[0]?.imageUrl
            "
            alt="Ảnh sản phẩm"
            width="50px"
          />
          <ng-template #noImage>
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/a/a3/Image-not-found.png"
              alt=""
            />
          </ng-template>

          <div class="product-content">
            <div class="mb-2">
              {{ product.name }}
            </div>
            <div class="flex align-items-center">
              <div class="flex align-items-center">
                <div class="font-semibold">
                  {{
                    formatPrice(
                      product.product_details[0]?.prices[0]?.sellingPrice ??
                        1000
                    )
                  }}
                </div>
                <div class="ml-5 sell-price">
                  {{
                    formatPrice(
                      product.product_details[0]?.prices[0]?.promotionPrice ??
                        900
                    )
                  }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </div>
</div>
<!-- phụ kiện -->
<div>
  <div class="product-banner">
    <img
      src="https://media3.coolmate.me/cdn-cgi/image/quality=80,format=auto/uploads/November2024/mceclip0_27.jpg"
      alt=""
    />
    <div class="content">
      <h1>PHỤ KIỆN NAM</h1>

      <button class="button">
        <p>Khám phá ngay</p>
        <i class="pi pi-arrow-right" style="font-size: 1rem"></i>
      </button>
    </div>
  </div>

  <div class="list-shirt">
    <div>
      <h2 class="">SẢN PHẨM PHỤ KIỆN NAM</h2>
    </div>
    <p-carousel
      [value]="productAccessories"
      [numVisible]="5"
      [numScroll]="5"
      [circular]="true"
      [responsiveOptions]="responsiveOptions"
      autoplayInterval="0"
      [showIndicators]="false"
    >
      <ng-template let-product pTemplate="item">
        <div class="product-item" (click)="navigateToProductDetail(product.id)">
          <img
            *ngIf="
              product.product_images && product.product_images[0]?.imageUrl;
              else noImage
            "
            [src]="
              'http://localhost:8080/uploads/' +
              product.product_images[0]?.imageUrl
            "
            alt="Ảnh sản phẩm"
            width="50px"
          />
          <ng-template #noImage>
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/a/a3/Image-not-found.png"
              alt=""
            />
          </ng-template>

          <div class="product-content">
            <div class="mb-2">
              {{ product.name }}
            </div>
            <div class="flex align-items-center">
              <div class="flex align-items-center">
                <div class="font-semibold">
                  {{
                    formatPrice(
                      product.product_details[0]?.prices[0]?.sellingPrice ??
                        1000
                    )
                  }}
                </div>
                <div class="ml-5 sell-price">
                  {{
                    formatPrice(
                      product.product_details[0]?.prices[0]?.promotionPrice ??
                        900
                    )
                  }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </div>
</div>
