.card {

    & img {
        width: 100%;
        /* Chiều rộng hình ảnh chiếm toàn bộ vùng chứa */
        height: 600px;
        /* Giữ tỷ lệ hình ảnh */
        object-fit: cover; /* Tùy chọn: Có thể điều chỉnh để cắt hoặc giữ nguyên hình */
    }

    & .p-carousel-container {
        & button {
            display: none;
        }

    }
}


//   .carousel-container {
//     position: relative;

//     .image-container {
//       position: relative;

//       img {
//         display: block;
//         width: 100%;
//         height: auto;
//         border-radius: 0.5rem; // Optional: Rounding the corners of the image
//       }
//     }

//     // Customizing previous button
//     .p-carousel-prev {
//       position: absolute;
//       top: 50%;
//       left: 1rem;
//       transform: translateY(-50%);
//       z-index: 10;
//       background-color: rgba(0, 0, 0, 0.5); // Optional: Adding a semi-transparent background
//       border-radius: 50%;
//       color: #fff;

//       &:hover {
//         background-color: rgba(0, 0, 0, 0.7);
//       }
//     }

//     // Customizing next button
//     .p-carousel-next {
//       position: absolute;
//       top: 50%;
//       right: 1rem;
//       transform: translateY(-50%);
//       z-index: 10;
//       background-color: rgba(0, 0, 0, 0.5); // Optional: Adding a semi-transparent background
//       border-radius: 50%;
//       color: #fff;

//       &:hover {
//         background-color: rgba(0, 0, 0, 0.7);
//       }
//     }
//   }