<div class="site-footer">
  <div class="footer-top">
    <div class="footer-title">
      <p>AYCOOL lắng nghe bạn!</p>
      <p>
        Chúng tôi luôn trân trọng và mong đợi nhận được mọi ý kiến đóng góp từ
        khách hàng để có thể nâng cấp trải nghiệm dịch vụ và sản phẩm tốt hơn
        nữa.
      </p>
    </div>
    <div class="hotline">
      <div class="contact">
        <i class="pi pi-phone" style="font-size: 2rem"></i>
        <div class="">
          <p>Hotline</p>
          <p>1900.1900 - 0909090909</p>
          <p>(9h - 21h)</p>
        </div>
      </div>
      <div class="contact">
        <i class="pi pi-envelope" style="font-size: 2rem"></i>
        <div>
          <p>Email</p>
          <p>admin&#64;gmail.com</p>
        </div>
      </div>
    </div>

    <div class="footer-icon">
      <i class="pi pi-facebook" style="font-size: 2rem"></i>
      <i class="pi pi-instagram" style="font-size: 2rem"></i>
      <i class="pi pi-tiktok" style="font-size: 2rem"></i>
      <i class="pi pi-youtube" style="font-size: 2rem"></i>
      <i class="pi pi-twitter" style="font-size: 2rem"></i>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="title">
      <p>© Luận văn tốt nghiệp</p>
      <p>Võ Quốc Thắng - DH52002581 - D20_TH03</p>
    </div>
  </div>
</div>
