$active-color: #2dc258;
$inactive-color: #ddd;

.delivery-status {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 2rem 0;
  position: relative;

  .circle {
    width: 150px;
    text-align: center;
    position: relative;

    .icon {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      border: 5px solid $inactive-color;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      color: $inactive-color;

      i {
        font-size: 1.5rem;
      }
    }

    p {
      text-align: center;
      font-size: 14px;
    }

    &.active {
      .icon {
        border-color: $active-color;
        color: $active-color;
      }
    }

    &.inactive {
      .icon {
        border-color: $inactive-color;
        color: $inactive-color;
      }
    }

    /* Add lines between circles */
    &:not(:last-child)::after {
      content: '';
      position: absolute;
      top: 27%;
      left: 70%;
      width: 107%;
      height: 3px;
      background-color: $inactive-color;
      /* Optional: If you want to use translate for centering */
      // transform: translateY(-50%);
    }
    
    /* Màn hình di động (Dưới 600px) */
    @media (max-width: 600px) {
      .element:not(:last-child)::after {
        left: 50%;
        width: 100%;
      }
    }
    
    /* Màn hình máy tính bảng (Dưới 1024px) */
    @media (max-width: 1024px) {
      .element:not(:last-child)::after {
        left: 55%;
        width: 120%;
      }
    }
    
    /* Màn hình máy tính (Từ 1024px đến 1919px) */
    @media (min-width: 1024px) and (max-width: 1919px) {
      .element:not(:last-child)::after {
        left: 70%;
        width: 150%;
      }
    }
    
    /* Màn hình cực lớn (Trên 1920px) */
    @media (min-width: 1919px) {
      .element:not(:last-child)::after {
        left: 75%;
        width: 180%;
      }
    }
    

    &.active::after {
      background-color: $active-color;
      /* Line color for active state */
    }


  }
}