<div class="card">
  <p-toast />
  <div class="card-form">
    <form [formGroup]="productForm" (ngSubmit)="updateProduct()">
      <div class="input-form">
        <p>Tên danh mục</p>
        <p-dropdown
          class="md:w-20rem w-full"
          placeholder="Chọn"
          [options]="categorySubNodes"
          formControlName="sub_category_id"
          appendTo="body"
          (onNodeSelect)="onSubCategorySelect($event)"
        />
      </div>

      <div class="input-form">
        <p>Chất liệu</p>
        <p-dropdown
          class="md:w-20rem w-full"
          placeholder="Chọn"
          formControlName="material_id"
          [options]="materialNodes"
          appendTo="body"
          (onNodeSelect)="onMaterialSelect($event)"
        />
      </div>
      <div class="input-form">
        <p>Tên sản phẩm</p>
        <input pInputText formControlName="name" />
      </div>

      <div class="input-form">
        <p>Mã SKU</p>
        <input pInputText formControlName="sku" />
      </div>
      <div class="input-form">
        <p>Mô tả</p>
        <p-editor formControlName="description" [style]="{ height: '320px' }" />
      </div>
      <div class="input-form">
        <p>Ảnh</p>
        <p-fileUpload
          name="demo[]"
          url="https://www.primefaces.org/cdn/api/upload.php"
          (onUpload)="onUpload($event)"
          [multiple]="true"
          accept="image/*"
          maxFileSize="1000000"
          [auto]="true"
          chooseLabel="Choose"
          cancelLabel="Cancel"
        >
          <ng-template pTemplate="content">
            <ul *ngIf="uploadedFiles.length">
              <li *ngFor="let file of uploadedFiles">
                <img
                  [src]="file.objectURL"
                  [alt]="file.name"
                  width="50px"
                  height="50px"
                />
                {{ file.name }}
                <!-- - {{ file.size }} bytes -->

                <i
                  class="pi pi-times"
                  (click)="removeFile(file)"
                  style="font-size: 1.5rem"
                ></i>
              </li>
            </ul>
          </ng-template>
        </p-fileUpload>
      </div>
    </form>
  </div>
</div>
<p-footer class="button-update">
  <button
    pButton
    label="Hủy"
    icon="pi pi-times"
    class="p-button-text"
    (click)="cancelUpdate()"
  ></button>
  <p-button
    label="Lưu"
    type="submit"
    class="submit"
    (onClick)="updateProduct()"
  ></p-button>
</p-footer>
