<div class="card">
  <p *ngIf="product && product.category">
    <a [routerLink]="'/home'" style="color: grey">Trang chủ</a> /
    {{ product.category }}
  </p>

  <div class="product">
    <div class="image" *ngIf="product?.product_images?.length > 0">
      <!-- Danh sách ảnh -->
      <div class="image-list">
        <img
          *ngFor="let image of product.product_images"
          [src]="'http://localhost:8080/uploads/' + image.imageUrl"
          [alt]="product.name"
          class="product-image"
          (click)="selectImage(image.imageUrl)"
          [class.selected]="
            selectedImage === 'http://localhost:8080/uploads/' + image.imageUrl
          "
        />
      </div>

      <div class="big-image">
        <img
          *ngIf="
            product?.product_images && product.product_images.length > 0;
            else noImage
          "
          [src]="
            selectedImage ||
            (product?.product_images?.length > 0
              ? 'http://localhost:8080/uploads/' +
                product.product_images[0]?.imageUrl
              : 'https://upload.wikimedia.org/wikipedia/commons/a/a3/Image-not-found.png')
          "
          alt="Ảnh sản phẩm"
          width="50px"
        />
      </div>

      <ng-template #noImage>
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/a/a3/Image-not-found.png"
          alt=""
        />
      </ng-template>
    </div>
    <div class="content">
      <div *ngIf="product">
        <h1>{{ product.name }}</h1>

        <div class="prices">
          <p class="sell-price" *ngIf="promotionPrice !== null">
            <span style="text-decoration: line-through">
              {{ formatPrice(price) }}
            </span>
          </p>

          <p class="promotion-price" *ngIf="promotionPrice !== null">
            {{ formatPrice(promotionPrice) }}
          </p>

          <p class="sell-price" *ngIf="promotionPrice === null">
            {{ formatPrice(price) }}
          </p>
        </div>

        <div>
          <p>Màu sắc:</p>
          <div class="attribute">
            <p
              *ngFor="let color of getUniqueColors()"
              [ngClass]="{ selected: selectedColor === color }"
              (click)="selectColor(color)"
            >
              {{ color }}
            </p>
          </div>
        </div>
        <div>
          <p>Kích thước:</p>
          <div class="attribute">
            <p
              *ngFor="let size of getUniqueSizes()"
              [ngClass]="{ selected: selectedSize === size }"
              (click)="selectSize(size)"
            >
              {{ size }}
            </p>
          </div>
        </div>

        <!-- <div>
          <p>Số lượng còn lại:</p>
          <div class="">
            <p *ngIf="quantityAvailable !== null">
              {{ quantityAvailable }}
            </p>
          </div>
        </div> -->

        <div class="order">
          <div class="quantity">
            <p (click)="decreaseQuantity()">-</p>
            <p>{{ quantity }}</p>
            <p (click)="increaseQuantity()">+</p>
          </div>

          <button class="add-cart" (click)="addToCart()">
            Thêm giỏ hàng
            <i class="pi pi-cart-arrow-down" style="font-size: 1rem"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="des-item">
    <p>MÔ TẢ SẢN PHẨM</p>
    <p [innerHTML]="product.description"></p>
  </div>
  <app-review
    [reviews]="product.reviews"
    [productDetails]="product.product_details"
    [productName]="product.name"
    [productId]="productId"
  />
</div>
