<p-confirmDialog />
<div class="table">
  <p-table
    [value]="categoryList"
    responsiveLayout="stack"
    [breakpoint]="'960px'"
    [tableStyle]="{ 'min-width': '50rem' }"
  >
    <ng-template pTemplate="caption">
      <div class="caption">
        <h1>Danh mục</h1>
        <p-button severity="contrast" (click)="openCreateCategoryDialog()">
          <i
            class="pi pi-plus"
            style="font-size: 1rem; margin-right: 0.5rem"
          ></i>
          Tạo danh mục
        </p-button>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th>Id</th>
        <th>Danh mục chính</th>
        <th>Tên</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-categorys let-i="rowIndex">
      <tr>
        <td>{{ i + 1 }}</td>
        <td>{{ categorys.category.name }}</td>
        <td>{{ categorys.name }}</td>

        <td>
          <div class="actions">
            <i
              class="pi pi-trash"
              style="font-size: 1.5rem; color: red"
              (click)="onDelete(categorys.id, $event)"
            >
            </i>

            <i
              class="pi pi-user-edit"
              style="font-size: 1.5rem; color: blue"
              (click)="onModelUpdate(categorys)"
            >
            </i>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <p-dialog
    header="Cập nhật danh mục"
    [(visible)]="displayUpdateDialog"
    [modal]="true"
    [closable]="false"
  >
    <div class="p-fluid">
      <div class="p-field">
        <p>Tên</p>
        <input pInputText id="name" [(ngModel)]="selectedSubCategory.name" />
      </div>
      <p *ngIf="selectedSubCategory?.category">
        <strong>Danh mục hiện tại: </strong>
        {{ selectedSubCategory.category.name }}
        <!-- Hiển thị tên danh mục hiện tại -->
      </p>
      <div class="select-form">
        <p-dropdown
          class="md:w-20rem w-full"
          placeholder="Chọn"
          [options]="categoryNodes"
          appendTo="body"
          (onNodeSelect)="onCategorySelect($event)"
          [(ngModel)]="selectedSubCategory.category_id"
        />
      </div>
    </div>

    <p-footer>
      <button
        pButton
        label="Hủy"
        icon="pi pi-times"
        class="p-button-text"
        (click)="cancelUpdate()"
      ></button>
      <button
        pButton
        label="Lưu"
        icon="pi pi-check"
        class="p-button-primary"
        (click)="saveCategory()"
      ></button>
    </p-footer>
  </p-dialog>
  <app-create-sub-category
    [display]="displayDialog"
    (close)="handleDialogClose()"
  ></app-create-sub-category>
</div>
