<div class="product-filter">
  <div class="filter" [formGroup]="filterForm">
    <!-- Color Filter -->
    <div class="color">
      <p>Màu sắc</p>
      <div class="color-item" *ngFor="let color of colors">
        <p-checkbox
          [formControlName]="'color'"
          [value]="color.id"
          label="{{ color.name }}"
        ></p-checkbox>
      </div>
    </div>

    <!-- Size Filter -->
    <div class="size">
      <p>Kích thước</p>
      <div class="size-item" *ngFor="let size of sizes">
        <p-checkbox
          [formControlName]="'size'"
          [value]="size.id"
          label="{{ size.name }}"
        ></p-checkbox>
      </div>
    </div>

    <!-- Material Filter -->
    <div class="material">
      <p>Chất liệu</p>
      <div class="material-form">
        <div class="material-item" *ngFor="let material of materials">
          <p-radioButton
            [formControlName]="'material'"
            [value]="material.id"
            label="{{ material.name }}"
          ></p-radioButton>
        </div>
      </div>
    </div>

    <p-button label="Bỏ lọc" icon="pi pi-filter-slash" (click)="cancel()">
    </p-button>
  </div>

  <div class="product-search">
    <p><a href="/home" class="home-link">Trang chủ</a> / {{ category }}</p>
    <h2>{{ sub_category_name }}</h2>
    <div class="category">
      <div *ngFor="let category of categories" class="category-item">
        <img
          src="https://cdn.dribbble.com/users/2008722/screenshots/14987612/media/27566bddb4d08217c4407656144e8ac7.png?resize=400x0"
          alt="{{ category.name }}"
        />
        <p>{{ category.name }}</p>
      </div>
    </div>

    <div class="product">
      <div class="product-content">
        <div *ngIf="products.length === 0" class="no-product">
          <p>Không có sản phẩm nào</p>
        </div>
        <div
          *ngFor="let product of products"
          class="product-item"
          (click)="goToProductDetail(product.productId.id)"
        >
          <img
            *ngIf="
              product.productId.product_images &&
                product.productId.product_images[0]?.imageUrl;
              else noImage
            "
            [src]="
              'http://localhost:8080/uploads/' +
              product.productId.product_images[0]?.imageUrl
            "
            alt="Ảnh sản phẩm"
          />
          <ng-template #noImage>
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/a/a3/Image-not-found.png"
              alt=""
            />
          </ng-template>
          <div class="content">
            <p>{{ product.productId.name }}</p>
            <div class="price">
              <p class="promotion-price">
                {{
                  formatPrice(
                    product.productId.product_details[0]?.prices[0]
                      ?.promotionPrice ?? 120000
                  )
                }}
              </p>
              <p class="sell-price">
                {{
                  formatPrice(
                    product.productId.product_details[0]?.prices[0]
                      ?.sellingPrice ?? 150000
                  )
                }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<p-paginator
  [totalRecords]="totalRecords"
  [rows]="rowsPerPage"
  (onPageChange)="onPageChange($event)"
>
</p-paginator>
