:root {
    --p-cyan-500: #00BCD4;
    --p-orange-500: #FF9800;
    --p-gray-500: #9E9E9E;
    --p-cyan-400: #80DEEA;
    --p-orange-400: #FB8C00;
    --p-gray-400: #BDBDBD;
    --text-color: #333333;
  }
  