.product-search{
    margin: 80px;
    .category{
        // display: flex;
        // justify-content: start;
        // align-items: center;
     
        .category-item{
            margin-right: 1rem;
            img{
                width: 100px;
                height: 150px;
                border-radius: 10px;
            }
        }
    }
    .product{
        margin-bottom: 1rem;
        .filter{
            display: flex;
            justify-content: end;
            align-items: center;
            width: 100%;
            
            p{
            margin-right: 1rem;

            }
        }
        .product-content{
            display: flex;
            justify-content: start;
            align-items: center;
            flex-wrap: wrap;
            gap: 1rem;
            
            .product-item{
                margin-top: 1rem;
                width: calc(20% - 1rem);
                cursor: pointer;
                height: 350px;
                margin-bottom: 6rem;
                img{
                    width: 100%;
                    height: 300px;
                    border-radius: 10px;
                }
                @media screen and (min-width: 1024px) {
                    img {
                        height: 300px;
                    }
                }
                
                /* Màn hình 24 inch (≥1920px) */
                @media screen and (min-width: 1920px) {
                    img {
                        height: 350px; 
                    }
                }
                
                /* Điện thoại (≤767px) */
                @media screen and (max-width: 767px) {
                    img {
                        height: 200px; 
                    }
                }

               .content{
                margin-left: 10px;
                .product_name{
                    display: -webkit-box;
                    -webkit-line-clamp: 2; /* Giới hạn hiển thị chỉ 2 dòng */
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                .price{
                    display: flex;
                    justify-content: start;
                    align-items: center;

                   
                    .promotion-price{
                        font-size: 18px;
                        font-weight: bold;
                        margin: 0;
                       
                    }
                    .sell-price{
                        text-decoration: line-through;
                        color: #999;
                        margin: 0;
                        margin-left: 1rem;
                    }
                }
               }
               
            }
        }
    }
   
}