<div class="evalaute">
  <div class="star-total">
    <div class="star">
      <h2>ĐÁNH GIÁ SẢN PHẨM</h2>
      <h1>5.0</h1>
      <div style="color: #ffb402" class="star-evaluate">
        <i class="pi pi-star-fill"></i>
        <i class="pi pi-star-fill"></i>
        <i class="pi pi-star-fill"></i>
        <i class="pi pi-star-fill"></i>
        <i class="pi pi-star-fill"></i>
      </div>
      <p>10 đánh giá</p>
    </div>
  </div>

  <div class="evalaute-total">
    <div class="drop-down-list">
      <p-dropdown optionLabel="name" placeholder="Sao" />
    </div>
    <div class="comment-total">
      <div class="cmt">
        <div style="color: #ffb402" class="star-evaluate">
          <i class="pi pi-star-fill"></i>
          <i class="pi pi-star-fill"></i>
          <i class="pi pi-star-fill"></i>
          <i class="pi pi-star-fill"></i>
          <i class="pi pi-star-fill"></i>
        </div>
        <p class="user-name">tên người dùng</p>
        <p>tên sản phẩm</p>
        <p>phân loại</p>
        <p class="note">comment</p>
        <p>Ngày</p>
      </div>
      <div class="cmt">
        <div style="color: #ffb402" class="star-evaluate">
          <i class="pi pi-star-fill"></i>
          <i class="pi pi-star-fill"></i>
          <i class="pi pi-star-fill"></i>
          <i class="pi pi-star-fill"></i>
          <i class="pi pi-star-fill"></i>
        </div>
        <p>email</p>
        <p>tên sản phẩm</p>
        <p>phân loại</p>
        <p class="note">comment</p>
        <p>Ngày</p>
      </div>
      <div class="cmt">
        <div style="color: #ffb402" class="star-evaluate">
          <i class="pi pi-star-fill"></i>
          <i class="pi pi-star-fill"></i>
          <i class="pi pi-star-fill"></i>
          <i class="pi pi-star-fill"></i>
          <i class="pi pi-star-fill"></i>
        </div>
        <p>email</p>
        <p>tên sản phẩm</p>
        <p>phân loại</p>
        <p class="note">comment</p>
        <p>Ngày</p>
      </div>
      <div class="cmt">
        <div style="color: #ffb402" class="star-evaluate">
          <i class="pi pi-star-fill"></i>
          <i class="pi pi-star-fill"></i>
          <i class="pi pi-star-fill"></i>
          <i class="pi pi-star-fill"></i>
          <i class="pi pi-star-fill"></i>
        </div>
        <p>email</p>
        <p>tên sản phẩm</p>
        <p>phân loại</p>
        <p class="note">comment</p>
        <p>Ngày</p>
      </div>
      <div class="cmt">
        <div style="color: #ffb402" class="star-evaluate">
          <i class="pi pi-star-fill"></i>
          <i class="pi pi-star-fill"></i>
          <i class="pi pi-star-fill"></i>
          <i class="pi pi-star-fill"></i>
          <i class="pi pi-star-fill"></i>
        </div>
        <p>email</p>
        <p>tên sản phẩm</p>
        <p>phân loại</p>
        <p class="note">comment</p>
        <p>Ngày</p>
      </div>
    </div>
  </div>
</div>
