.actions {
    display: flex;
    justify-content: center;
    align-items: center;

    & i {
        cursor: pointer;
        margin: 0 10px;
    }
}

.caption {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.p-datatable-header {
    background-color: transparent;
    border: none;
}

.detail-dialog {
    & .p-dialog {
        min-width: 1200px;
    }

    & .p-dialog-header {
        padding: 0.2rem;

    }

    & .dialog-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    & .cancel-button {
        cursor: pointer;
    }
 & .not-data{
    display: flex ;
    justify-content: center;
    align-items: center;
 }
}