<p-confirmDialog />
<div class="table">
  <p-table
    [value]="warehouseList"
    responsiveLayout="stack"
    [breakpoint]="'960px'"
    [tableStyle]="{ 'min-width': '50rem' }"
  >
    <ng-template pTemplate="caption">
      <div class="caption">
        <h1>Kho</h1>

        <div style="margin-bottom: 10px">
          <select
            [(ngModel)]="materialId"
            (change)="onSearch()"
            class="select-sub-category"
          >
            <option [value]="undefined" disabled>Chất liệu</option>
            <option *ngFor="let material of materials" [value]="material.id">
              {{ material.name }}
            </option>
          </select>
          <select
            [(ngModel)]="subCategoryId"
            (change)="onSearch()"
            class="select-sub-category"
          >
            <option [value]="undefined" disabled>Danh mục</option>
            <option
              *ngFor="let subCategory of subCategories"
              [value]="subCategory.id"
            >
              {{ subCategory.name }}
            </option>
          </select>
          <input
            type="text"
            pInputText
            [(ngModel)]="searchName"
            placeholder="Tìm kiếm"
          />
          <p-button icon="pi pi-search" (onClick)="onSearch()"></p-button>
          <p-button
            severity="secondary"
            (onClick)="clearSearch()"
            class="filter-slash"
            ><i class="pi pi-filter-slash"></i
          ></p-button>
        </div>
        <p-button severity="contrast" routerLink="/admin/create-warehouse">
          <i
            class="pi pi-plus"
            style="font-size: 1rem; margin-right: 0.5rem"
          ></i>
          Nhập kho
        </p-button>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th>Id</th>
        <th>Hình ảnh</th>
        <th>Tên</th>
        <th>Giá nhập</th>
        <th>Số lượng</th>
        <th>Số lượng bán</th>
        <th>Số lượng còn</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-warehouse let-i="rowIndex">
      <tr>
        <td>{{ i + 1 }}</td>
        <td>
          <p-image
            *ngIf="
              warehouse.product_detail?.product_id?.productImages?.length > 0 &&
                warehouse.product_detail.product_id.productImages[0]?.imageUrl;
              else noImage
            "
            [src]="
              'http://localhost:8080/uploads/' +
              warehouse.product_detail.product_id.productImages[0].imageUrl
            "
            alt="Ảnh sản phẩm"
            width="50px"
          ></p-image>
          <ng-template #noImage>
            <p-image
              src="https://upload.wikimedia.org/wikipedia/commons/a/a3/Image-not-found.png"
              alt="Ảnh"
              width="50px"
            />
          </ng-template>
        </td>

        <td>{{ warehouse.product_detail.sku_name }}</td>
        <td>{{ formatPrice(warehouse.price) }}</td>
        <td>{{ warehouse.quantity }}</td>
        <td>{{ warehouse.sell_quantity }}</td>
        <td>{{ warehouse.remaining_quantity }}</td>
      </tr>
    </ng-template>
  </p-table>

  <p-paginator
    [totalRecords]="totalRecords"
    [rows]="rowsPerPage"
    [rowsPerPageOptions]="[10, 20, 30]"
    (onPageChange)="onPageChange($event)"
  >
  </p-paginator>
</div>
