<div>
  <app-auth-layout></app-auth-layout>
  <div class="login-content">
    <img
      src=" https://dochat.vn/themes/dochat-v3/images/user/login.webp"
      alt=""
      class="login-image"
    />
    <div class="login-form">
      <h1>Đăng nhập</h1>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="input-form">
          <p-floatLabel>
            <input
              pInputText
              formControlName="email"
              [ngClass]="{ 'is-invalid': submit && email?.invalid }"
            />
            <label for="email">Email</label>
          </p-floatLabel>
          <p *ngIf="submit && email?.errors?.['required']">Email là bắt buộc</p>
          <p *ngIf="submit && email?.errors?.['email']">
            Vui lòng nhập email hợp lệ
          </p>
        </div>
        <div class="input-form">
          <p-floatLabel>
            <p-password
              [feedback]="false"
              formControlName="password"
              [ngClass]="{ 'is-invalid': submit && password?.invalid }"
            />
            <label for="password">Mật khẩu</label>
          </p-floatLabel>
          <p *ngIf="submit && password?.errors?.['required']">
            Mật khẩu là bắt buộc
          </p>
        </div>

        <p-button label="Đăng nhập" type="submit" />
        <div class="register">
          <p>Bạn chưa có tài khoản ?<a href="register">Đăng ký</a></p>
        </div>
        <div class="google-account">
          <p class="text-divider">Đăng nhập bằng</p>
          <div class="login-google">
            <p>Tài khoản Google</p>
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c1/Google_%22G%22_logo.svg/1024px-Google_%22G%22_logo.svg.png"
              alt=""
              class="google-image"
            />
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
