.page {

  display: flex;
  flex-direction: column;
  padding-bottom: 110px;

  // min-height: 100vh; // Đảm bảo chiều cao tối thiểu cho toàn trang
  & .site-header {
    flex: 1;

  }
}

.header {
  .auth {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
    height: 25px;
    font-size: 15px;
    padding: 0 80px;
    color: #000;

    & .register {
      border-right: 1px solid black;
      padding-right: 5px;

      &:hover {
        color: lighten(#000, 40%);
      }
    }

    p:last-child {
      padding-left: 5px;

      &:hover {
        color: lighten(#000, 40%);
      }
    }

    // Dropdown menu styling
    .dropdown {
      position: relative;
      // display: inline-block;
      display: flex;
      align-items: center;
      justify-content: center;

      // User greeting text
      p {
        margin: 0;
        padding-left: 10px;
      }

      // Dropdown menu styles
      .dropdown-menu {
        display: block;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: #fff;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        padding: 10px;
        min-width: 150px;
        z-index: 1;
        opacity: 0;
        visibility: hidden;
        transform: translateY(-10px);
        transition: all 0.3s ease;
        margin-top: 10px;
        border-radius: 5px;
        text-align: end;

        &.open {
          opacity: 1;
          visibility: visible;
          transform: translateY(0);
          width: 10rem;
        }

        // Menu item styling
        p {
          padding: 8px 12px;
          margin: 0;
          cursor: pointer;
          white-space: nowrap;

          &:hover {
            background-color: #f1f1f1;
          }
        }
      }
    }
  }
}

.layout {
  background-color: var(--black-color);
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 80px;

  & .p-image {

    width: 100%;
    height: 100%;
  }

  & .icon-button {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    & i {
      padding: 30px 0 30px 1rem;
      cursor: pointer;
    }

    & .cart-icon {
      position: relative;
      display: inline-block;


      .cart-count {
        position: absolute;
        top: 20px;
        right: -15px;
        background-color: red;
        color: white;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
      }

      /* Dropdown menu ẩn theo mặc định */
      .dropdown {
        display: none;
        list-style: none;
        padding: 0;
        margin: 0;
        position: absolute;
        top: 98%;
        /* Đặt dropdown dưới icon */
        left: -300px;
        /* Đặt dropdown nằm bên trái icon */
        background-color: #fff;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        width: 350px;
        z-index: 10;
        max-height: 350px;
        /* Chiều cao tối đa cho phần cuộn */
        overflow-y: auto;


        .title {
          display: flex;
          justify-content: space-between;
          align-items: center;
          color: #000;
          padding: 10px 10px 0 10px;

          // padding: 10px 20px;
          .total {
            color: var(--blue-color);
            cursor: pointer;
          }
        }



        .dropdown-item {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: 10px;
        }

        .image {
          img {
            height: 100px;
            width: 80px;
            border-radius: 10px;
          }
        }

        .content {
          color: #000;
          margin-left: 10px;
          width: 200px;
          .price{
            display: flex;
            justify-content: space-between;
            align-items: center;
          }
          .sell-price {
            text-decoration: line-through;
            color: #999;
          }

          p {
            margin: 5px;
          }

          .promotion-price {
            font-size: 18px;
            font-weight: bold;
          }

          .quantity {
            font-size: 13px;
          }
        }

        .remove-btn {
          color: #000;
          padding: 10px;
        }
      }

      /* Hiển thị dropdown khi hover vào icon */
      &:hover .dropdown {
        display: block;
      }

    }
  }

  & .list-category {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0;

    & li {
      display: block;
      font-size: 1rem;
      font-weight: bold;
      color: white;
      padding: 30px 20px;
      cursor: pointer;
      position: relative;
      transition: background-color 0.3s ease, transform 0.3s ease;

      &:hover {
        background-color: #3C3C3C;
        // transform: scale(1.05);

        .dropdown {
          display: block;
        }
      }
    }
  }

  /* Dropdown menu ẩn theo mặc định */
  .dropdown {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 100%;
    /* Đặt dropdown bên dưới mục li */
    left: 0;
    background-color: var(--grey-dropdown-color);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 200px;
    z-index: 10;
    padding-top: 20px;

    /* Style cho các mục trong dropdown */
    li {
      padding: 10px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      color: grey;

      /* Hiệu ứng hover cho mục trong dropdown */
      &:hover {
        color: #3861D0;
        background-color: var(--grey-dropdown-color);

      }
    }
  }

}

.search {
  position: relative;
  background-color: white;
  border-radius: 10px;

  & .p-inputtext {
    padding-left: 2rem;
    min-width: 550px;
    border: none;
  }

  & .search-icon {
    padding-right: 1rem !important;

  }
}

.site-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  /* Đảm bảo header luôn nằm trên cùng */
  background-color: #fff;
  /* Màu nền header */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* Thêm bóng đổ cho header */
  margin-bottom: 100px;
}